.bmi-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.extreme-bmi {
  animation: shake 0.5s;
  animation-iteration-count: 10;
}

.header {
  top: -50%;
  text-wrap: nowrap;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bmi-chart-result {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.h1-bmi-result {
  color: black;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  left: 50%;
  transform: translate(-50%, 15px);
  display: flex;
  flex-direction: column;
}

.h1-bmi-result span {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
}

.bmi-category {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}

.bmi-chart {
  width: 400px;
  height: 200px;
  border-radius: 5px;
}

label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.rangeslider {
  width: 100%;
  height: 20px;
  border-radius: 5px;
}

.rangeslider::-moz-range-thumb {
  visibility: hidden;
  border-radius: 0;
}

.weight-value,
.height-value {
  position: absolute;
  top: 65%;
  left: 7px;
  transform: translateY(-50%);
  padding: 2px 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  pointer-events: none;
}

input {
  padding: 5px;
}

.calculate {
  padding: 10px 20px;
  background-color: #53dc57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.calculate:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .bmi-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
  }

  .header {
    top: -20%;
  }

  .bmi-result-container {
    position: static;
    transform: none;
    margin-bottom: 10px;
    width: 100%;
  }

  .bmi-chart-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bmi-category {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .bmi-chart {
    width: 100%;
  }

  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    width: 100%;
  }

  .rangeslider {
    width: 100%;
  }
}

@keyframes shake {
  0% { transform: translate(calc(-50% + 1px), calc(-50% + 1px)) rotate(0deg); }
  10% { transform: translate(calc(-50% - 1px), calc(-50% - 2px)) rotate(-1deg); }
  20% { transform: translate(calc(-50% - 3px), calc(-50% + 0px)) rotate(1deg); }
  30% { transform: translate(calc(-50% + 3px), calc(-50% + 2px)) rotate(0deg); }
  40% { transform: translate(calc(-50% + 1px), calc(-50% - 1px)) rotate(1deg); }
  50% { transform: translate(calc(-50% - 1px), calc(-50% + 2px)) rotate(-1deg); }
  60% { transform: translate(calc(-50% - 3px), calc(-50% + 1px)) rotate(0deg); }
  70% { transform: translate(calc(-50% + 3px), calc(-50% + 1px)) rotate(-1deg); }
  80% { transform: translate(calc(-50% - 1px), calc(-50% - 1px)) rotate(1deg); }
  90% { transform: translate(calc(-50% + 1px), calc(-50% + 2px)) rotate(0deg); }
  100% { transform: translate(calc(-50% + 1px), calc(-50% - 2px)) rotate(-1deg); }
}